<div class="mainhomepage">
  <app-navmenu></app-navmenu>
  <div class="container-fluid navbelowsection">
    <div class="row ">
      <div class="col-lg-2" style="border-right: 1px solid #ccc;">
        <div class="row ">
          <div class="col-md-6">
            Day and Time
          </div>
          <div class="col-md-6">
            Range
          </div>
        </div>
      </div>
      <div class="col-lg-1" style="">
        <label>Active power</label>
        <label style="color:#e2a3a5"><span style="font-size: 30px;">30</span> <span>MW</span></label>
        <div id="myDiv" style="float: right;height: 105px;margin-top: -26px;"> 

          <span id="mySpan"> PCI </span>
          
          </div>
      </div>
      <div class="col-lg-2" style="">
        <div class="row">
          <div class="col-lg-4">
            Parameters
            Actaul <br>
            setpoint <br>
            Status <br>
          </div>

          <div class="col-lg-1">P <br>
            0.00 <br>
            0.00 <br>
          </div>
          <div class="col-lg-1">Q <br>
            0.00 <br>
            0.00 <br>
          </div>
          <div class="col-lg-1">PF <br>
            0.00 <br>
            0.00 <br>
          </div>
          <div class="col-lg-1">V <br>
            0.00 <br>
            0.00 <br>
          </div>
          <div class="col-lg-1">F <br>
            0.00 <br>
            0.00 <br>
          </div>
        </div>
        <div id="myDiv" style="float: right;height: 105px;margin-top: -26px;"> 

          <span id="mySpan"> PCI </span>
          
          </div>
      </div>
      <div class="col-lg-2 p-lr-0" style="">
        <div class="row">
          <div class="col-lg-4">
            
            AVG <br>
            AVG <br>
            Available Power <br>
          </div>
          <div class="col-lg-6">            
            50.00 W/M <br>
            50.00 W/M<br>
            50.00 W/M<br>
          </div>
        </div>
        <div id="myDiv" style=""> 

          <span id="mySpan"> PCI </span>
          
          </div>
      </div>
     
      <div class="col-lg-1 p-lr-0" style="">
        <div class="row">
          <div class="col-lg-6">
            <label>CB-1</label>
            <label>CB-2</label>
            <label>CB-3</label>
          </div>
          <div class="col-lg-2">
            <label class="switch-succ">
              <input type="checkbox" checked>
              <span class="slider-succ round"></span>
            </label>
            <label class="switch-succ">
              <input type="checkbox" checked>
              <span class="slider-succ round"></span>
            </label>
            <label class="switch-succ">
              <input type="checkbox" checked>
              <span class="slider-succ round"></span>
            </label>
          </div>
        </div>
        <div id="myDiv" style="float: right;height: 105px;margin-top: -26px;"> 

          <span id="mySpan"> PCI </span>
          
          </div>
      
        
      </div>
      <div class="col-lg-2 p-lr-0" style="">
        <div class="row">
          <div class="col-lg-6">
        <label>Grid Status</label>
        <label>Grid Control</label>
        <label>PQM COMM STS </label>
            </div>
        <div class="col-lg-2">
          <label class="switch-succ">
            <input type="checkbox" checked>
            <span class="slider-succ round"></span>
          </label>
          <label class="switch-succ">
            <input type="checkbox" checked>
            <span class="slider-succ round"></span>
          </label>
          <label class="switch-succ">
            <input type="checkbox" checked>
            <span class="slider-succ round"></span>
          </label>
        </div>
       </div>
       <div id="myDiv" style="float: right;height: 105px;margin-top: -26px;"> 

        <span id="mySpan"> PCI </span>
        
        </div>
      </div>
      <div class="col-lg-1 p-lr-0">
        <label>PPC</label><br>
        <label>Inverter</label><br>
        <label>PQM</label>
      </div>

    </div>
  
  </div>

  <div class=" container-fluid mainbg">
    <div class="row">
      <div class="col-md-6">
        <div class="card panel-card">
          <div class="card-header panel-header">Real time monitoring</div>
          <div class="card-body panel-body">Content</div> 
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="card panel-card">
          <div class="card-header panel-header">Inverter Heatmap</div>
          <div class="card-body panel-body">Content</div> 
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card panel-card">
          <div class="card-header panel-header">Events</div>
          <div class="card-body panel-body">
            <div class="table-responsive-md">
              <table class="table ">
                <thead>
                  <tr>
                   
                    <th>TimeStamp</th>
                    <th>Priority</th>
                    <th>Device</th>
                    <th>Operated by</th>
                    <th>Even Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>4/02/1989 8:32:45 PM</td>
                    <td>Low</td>
                    <td>SYS</td>
                    <td>Developer</td>
                    <td>Developer loged in</td>
                  </tr>
                  <tr>
                    <td>4/02/1989 8:32:45 PM</td>
                    <td>Low</td>
                    <td>SYS</td>
                    <td>Developer</td>
                    <td>Developer loged in</td>
                  </tr>
                  <tr>
                    <td>4/02/1989 8:32:45 PM</td>
                    <td>Low</td>
                    <td>SYS</td>
                    <td>Developer</td>
                    <td>Developer loged in</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-2">
                 <label>Total 100</label>
                </div>
              <div class="col-md-1">
                <div class="form-group">                
                  <select class="form-control" id="sel1" name="sellist1">
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
              </div>
              <div class="col-md-1">
                <label>Rows</label>
               </div>
              <div class="col-md-8">
                <ul class="pagination float-right">
                  <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </div>
              
            </div>
            </div>
          </div> 
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="card panel-card">
          <div class="card-header panel-header">Control status</div>
          <div class="card-body panel-body">
            <div class="table-responsive-md">
              <table class="table">
                <thead>
                  <tr>
                    <th> 
                      Status
               </th>
                    <th >Control</th>
                    <th >Setpont</th>
                    <th >Mesuerd</th>
                    <th >Unit</th>
                    <th >Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th> 
                      <label class="switch-succ">
                   <input type="checkbox" checked>
                   <span class="slider-succ round"></span>
                 </label>
               </th>
                    <td>Action Power [P]</td>
                    <td>34.00</td>
                    <td>15.00</td>
                    <td>MW</td>
                    <td><i class='fa fa-pencil'></i></td>
                  </tr>
                  <tr>
                    <th> 
                         <label class="switch-danger">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>
                  </th>
                    <td>Reaction Power[Q]</td>
                    <td>24.00</td>
                    <td>10.00</td>
                    <td>MVR</td>
                    <td><i class='fa fa-pencil'></i></td>
                  </tr>
                  <tr>
                    <th>  
                      <label class="switch-succ">
                        <input type="checkbox" checked>
                        <span class="slider-succ round"></span>
                      </label>
                      </th>
                    <td>Power Factor[PF]</td>
                    <td>11.00</td>
                    <td>-20.00</td>
                    <td>Otto</td>
                    <td><i class='fa fa-pencil'></i></td>
                  </tr>
                  <tr>
                    <th>  
                      <label class="switch-succ">
                        <input type="checkbox" checked>
                        <span class="slider-succ round"></span>
                      </label>
                      </th>
                    <td>Voltage[v]</td>
                    <td>154.00</td>
                    <td>-120.00</td>
                    <td>Kv</td>
                    <td><i class='fa fa-pencil'></i></td>
                  </tr>
                  <tr>
                    <th>  
                      <label class="switch-succ">
                        <input type="checkbox" checked>
                        <span class="slider-succ round"></span>
                      </label>
                      </th>
                    <td>Frequency[F]</td>
                    <td>80.00</td>
                    <td>-220.00</td>
                    <td>Hz</td>
                    <td><i class='fa fa-pencil'></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>           
        </div>
      </div>
    </div>
  </div>
</div>

